In [51]:
import numpy as np 
import pandas as pd

In [52]:
df = pd.read_csv("main.csv")

In [53]:
df

,Email,Phone,First Name,Last Name,Country,Zip
0,jyotisahnisolan@gmail.com,8278860168,Jyoti,Sahni,India,173212
1,diptygupta2013@gmail.com,+919971560943,Dipty,Gupta,India,110092
2,uttamsahu131@gmail.com,81098 79099,Uttam,Sahu,India,493449
3,pgirbaudn@gmail.com,099175 29646,Palden,Namgyal,India,248001
4,manmohanmishra7575@gmail.com,8318301660,Manmohan,Mishra,India,261502
...,...,...,...,...,...,...
34536,barbeeangel00@gmail.com,8756014588,JUHI,Babbar,India,221010
34537,gopi_satya@yahoo.com,91777 71435,Satua,M,India,500049
34538,sahitya.mj@gmail.com,9686867621,Sahithya,M.a,India,591102
34539,raokamal1997@gmail.com,NaN,NaN,NaN,NaN,NaN
34540,koolhorizon111@gmail.com,NaN,NaN,NaN,NaN,NaN

In [54]:
df.drop_duplicates(subset =["Email","Phone"], keep = False, inplace = True)

In [55]:
df

,Email,Phone,First Name,Last Name,Country,Zip
0,jyotisahnisolan@gmail.com,8278860168,Jyoti,Sahni,India,173212
39,website@roihunt.com,83769 96952,kumar,Gaurav,India,121001
40,abhaysinghzone@gmail.com,99993 58933,Abhay(Test,Singh,India,201002
41,subhash.yadav@neuherbs.com,96507 65665,Subhash,Yadav,India,201301
42,NaN,+919650765665,subhash,yadav,India,201301
...,...,...,...,...,...,...
34536,barbeeangel00@gmail.com,8756014588,JUHI,Babbar,India,221010
34537,gopi_satya@yahoo.com,91777 71435,Satua,M,India,500049
34538,sahitya.mj@gmail.com,9686867621,Sahithya,M.a,India,591102
34539,raokamal1997@gmail.com,NaN,NaN,NaN,NaN,NaN
34540,koolhorizon111@gmail.com,NaN,NaN,NaN,NaN,NaN

In [56]:
df = df.dropna()

In [57]:
df

,Email,Phone,First Name,Last Name,Country,Zip
0,jyotisahnisolan@gmail.com,8278860168,Jyoti,Sahni,India,173212
39,website@roihunt.com,83769 96952,kumar,Gaurav,India,121001
40,abhaysinghzone@gmail.com,99993 58933,Abhay(Test,Singh,India,201002
41,subhash.yadav@neuherbs.com,96507 65665,Subhash,Yadav,India,201301
43,bindec96@gmail.com,98477 00409,Sreelakshmi,M Mohan,India,686669
...,...,...,...,...,...,...
34534,tabassumnsr381@gmail.com,94567 38399,Tabassum,Ansari,India,248006
34535,cmarialavina@gmail.com,74062 57476,Lavina,Cardozo,India,403402
34536,barbeeangel00@gmail.com,8756014588,JUHI,Babbar,India,221010
34537,gopi_satya@yahoo.com,91777 71435,Satua,M,India,500049
34538,sahitya.mj@gmail.com,9686867621,Sahithya,M.a,India,591102

In [72]:
df.to_csv("out.csv")

In [67]:
list1 = []
for i in df["Phone"]:
    summ = 0
#     for j in i:
#         summ+=1
#     if summ==10:
#         k = ((i.strip()).replace(" ", ""))
#         list1.append(k)
    if "+91" in i:
        k = ((i[3:].strip()).replace(" ", ""))
        list1.append(k)
    elif:
        for j in i:
        summ+=1
        if summ==10:
#         k = ((i.strip()).replace(" ", ""))
        list1.append("NaN")
        
    else:
        k = (i.strip()).replace(" ", "")
        list1.append(k)

SyntaxError: invalid syntax (<ipython-input-67-846abd2a56c5>, line 12)

In [68]:
df

,Email,Phone,First Name,Last Name,Country,Zip,clean_Phone
0,jyotisahnisolan@gmail.com,8278860168,Jyoti,Sahni,India,173212,8278860168
39,website@roihunt.com,83769 96952,kumar,Gaurav,India,121001,8376996952
40,abhaysinghzone@gmail.com,99993 58933,Abhay(Test,Singh,India,201002,9999358933
41,subhash.yadav@neuherbs.com,96507 65665,Subhash,Yadav,India,201301,9650765665
43,bindec96@gmail.com,98477 00409,Sreelakshmi,M Mohan,India,686669,9847700409
...,...,...,...,...,...,...,...
34534,tabassumnsr381@gmail.com,94567 38399,Tabassum,Ansari,India,248006,9456738399
34535,cmarialavina@gmail.com,74062 57476,Lavina,Cardozo,India,403402,7406257476
34536,barbeeangel00@gmail.com,8756014588,JUHI,Babbar,India,221010,8756014588
34537,gopi_satya@yahoo.com,91777 71435,Satua,M,India,500049,9177771435
34538,sahitya.mj@gmail.com,9686867621,Sahithya,M.a,India,591102,9686867621

In [69]:
df['clean_Phone'] = list1

<ipython-input-69-27004dbd2950>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_Phone'] = list1

In [70]:
df

,Email,Phone,First Name,Last Name,Country,Zip,clean_Phone
0,jyotisahnisolan@gmail.com,8278860168,Jyoti,Sahni,India,173212,8278860168
39,website@roihunt.com,83769 96952,kumar,Gaurav,India,121001,8376996952
40,abhaysinghzone@gmail.com,99993 58933,Abhay(Test,Singh,India,201002,9999358933
41,subhash.yadav@neuherbs.com,96507 65665,Subhash,Yadav,India,201301,9650765665
43,bindec96@gmail.com,98477 00409,Sreelakshmi,M Mohan,India,686669,9847700409
...,...,...,...,...,...,...,...
34534,tabassumnsr381@gmail.com,94567 38399,Tabassum,Ansari,India,248006,9456738399
34535,cmarialavina@gmail.com,74062 57476,Lavina,Cardozo,India,403402,7406257476
34536,barbeeangel00@gmail.com,8756014588,JUHI,Babbar,India,221010,8756014588
34537,gopi_satya@yahoo.com,91777 71435,Satua,M,India,500049,9177771435
34538,sahitya.mj@gmail.com,9686867621,Sahithya,M.a,India,591102,9686867621

In [71]:
df.dropna()

,Email,Phone,First Name,Last Name,Country,Zip,clean_Phone
0,jyotisahnisolan@gmail.com,8278860168,Jyoti,Sahni,India,173212,8278860168
39,website@roihunt.com,83769 96952,kumar,Gaurav,India,121001,8376996952
40,abhaysinghzone@gmail.com,99993 58933,Abhay(Test,Singh,India,201002,9999358933
41,subhash.yadav@neuherbs.com,96507 65665,Subhash,Yadav,India,201301,9650765665
43,bindec96@gmail.com,98477 00409,Sreelakshmi,M Mohan,India,686669,9847700409
...,...,...,...,...,...,...,...
34534,tabassumnsr381@gmail.com,94567 38399,Tabassum,Ansari,India,248006,9456738399
34535,cmarialavina@gmail.com,74062 57476,Lavina,Cardozo,India,403402,7406257476
34536,barbeeangel00@gmail.com,8756014588,JUHI,Babbar,India,221010,8756014588
34537,gopi_satya@yahoo.com,91777 71435,Satua,M,India,500049,9177771435
34538,sahitya.mj@gmail.com,9686867621,Sahithya,M.a,India,591102,9686867621